{% extends "layout.html" %} 

{% block content %}
    <h3>ADD A PAGE</h3>
    <div id='addpage'>
     <form action="/add/submit" method="POST">
      <label for="name_field">PAGE TITLE</label>
      <br>
      <textarea class="form-control" name="title" autofocus type="text" id="title_field" rows='2'></textarea>
      <br>
      <label for="text_field">PAGE CONTENT</label>
      <br>
      <textarea class="form-control" name="body" type="text" id="content_field" rows="20"  ></textarea> 
      <br>
      <input class="btn btn-warning" type="submit" value="Submit"/>
    </form>
    </div>
{% endblock %}

